<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>jums.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log</servlet-name>
        <servlet-class>jums.Log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationConfirm</servlet-name>
        <servlet-class>jums.RegistrationConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JumsHelper</servlet-name>
        <servlet-class>jums.JumsHelper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationComplete</servlet-name>
        <servlet-class>jums.RegistrationComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TOP</servlet-name>
        <servlet-class>jums.TOP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>jums.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginResult</servlet-name>
        <servlet-class>jums.LoginResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mydata</servlet-name>
        <servlet-class>jums.Mydata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>jums.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResult</servlet-name>
        <servlet-class>jums.UpdateResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>jums.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteResult</servlet-name>
        <servlet-class>jums.DeleteResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataDTO</servlet-name>
        <servlet-class>jums.UserDataDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordConfirm</servlet-name>
        <servlet-class>jums.RecordConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordComplete</servlet-name>
        <servlet-class>jums.RecordComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Record</servlet-name>
        <servlet-class>jums.Record</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mypage</servlet-name>
        <servlet-class>jums.Mypage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordInfo</servlet-name>
        <servlet-class>jums.RecordInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SerchWeight</servlet-name>
        <servlet-class>jums.SerchWeight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test2</servlet-name>
        <servlet-class>jums.Test2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test3</servlet-name>
        <servlet-class>jums.test3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/Log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationConfirm</servlet-name>
        <url-pattern>/RegistrationConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JumsHelper</servlet-name>
        <url-pattern>/JumsHelper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationComplete</servlet-name>
        <url-pattern>/RegistrationComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TOP</servlet-name>
        <url-pattern>/TOP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginResult</servlet-name>
        <url-pattern>/LoginResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mydata</servlet-name>
        <url-pattern>/Mydata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResult</servlet-name>
        <url-pattern>/UpdateResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteResult</servlet-name>
        <url-pattern>/DeleteResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDataDTO</servlet-name>
        <url-pattern>/UserDataDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordConfirm</servlet-name>
        <url-pattern>/RecordConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordComplete</servlet-name>
        <url-pattern>/RecordComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Record</servlet-name>
        <url-pattern>/Record</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mypage</servlet-name>
        <url-pattern>/Mypage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordInfo</servlet-name>
        <url-pattern>/RecordInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SerchWeight</servlet-name>
        <url-pattern>/SerchWeight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test2</servlet-name>
        <url-pattern>/Test2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test3</servlet-name>
        <url-pattern>/test3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
